# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
*.iml
CS03_1/.idea
CS03_1/out
CS03_2/.idea
CS03_2/out
CS03_3/.idea
CS03_3/out